.DS_Store
temp/
tmp
.temp
.tmp
*.rdb
*.aof
sqlitedb/*.db
sqlitedb/*.sql
sqlitedb/*.sqlite
sqlitedb/*.sqlite3
node_modules/
tickets/
package-lock*
lock-log*
*.log
credentials/
*.data
configs/
public/uploads
!public/uploads/sample.jpg
