.DS_Store
temp/
tmp
.temp
.tmp
*.rdb
*.aof
sqlitedb/*.db
sqlitedb/*.sql
sqlitedb/*.sqlite
sqlitedb/*.sqlite3
tickets/
node_modules/
package-lock*
lock-log*
*.log
credentials/
*.data
configs/
public/uploads
!public/uploads/sample.jpg
