.DS_Store
temp/
tmp
.temp
.tmp
sqlitedb/*.db
sqlitedb/*.sql
sqlitedb/*.sqlite
sqlitedb/*.sqlite3
redisdb/*.rdb
redisdb/*.aof
node_modules/
package-lock*
lock-log*
*.log
credients/
credentials/
*.data
configs/
public/uploads
!public/uploads/sample.jpg
*/tickets/
