div.media
  div(class="media-body")
    h3(class="media-heading") Media heading
    p common talk about p common talk about p common talk about 
    p common talk about p common talk about p common talk about 
    p common talk about p common talk about p common talk about 
    p common talk about p common talk about p common talk about 
    p common talk about p common talk about p common talk about 
    p common talk about p common talk about p common talk about 
    p common talk about p common talk about p common talk about 
    p common talk about p common talk about p common talk about 
  div.media-right.media-middle
     a(href="/what-is-flying-with-you")
       img(class="media-object" src="/images/dot64x64.png" alt="bolka dot")
