.form-group
  label(for="idAlias") Admin Account(Name):
  input(type="text" name="alias"  id="idAlias" class="form-control")
.form-group
  label(for="password") Admin Password: 
  input(type="password" name="password" class="form-control")
button.btn.btn-default(type="submit") Authenticate Now 
