extend layouts/main
block content
  h1 Admin Login Successful
  nav
    ul.pager
      li.previous
        a(href="/admin/logout") <span>&larr;</span> Exit
      li.next
        a(href="/admin/daka") go to DaKa <span>&rarr;</span>
