extend layouts/main
block content
  h1 socket io is the core of business
  h1 Admin DaKa
  ol#box
    img(src="" width="74%" alt="bare initial")
  hr
block pagejs
  script(src="/socket.io/socket.io.js")
  script(src="/mine/mine-admin-daka.js")
