extends layouts/main
block content
  //
    has variable :data,it is an array which elements all are object(ins.
    allProperties()
  ul
    each item in data
      li alias=#{item.alias},utc_ms=#{item.utc_ms}.
