extends layouts/main
block pagejs
  script(src="/pagejs/pagejs-admin-newest-ticket.js")
block content
  nav.navbar.navbar-default.navbar-fixed-top
    .container
      a(type="button" href="/" class="btn btn-default navbar-left navbar-btn") Back
      h3.navbar-text &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Newest Ticket 
  //
    has variable :data,it is an array which elements all are object(ins.
    allProperties()
  br/
  br/
  table.table 
    thead
      tr 
        td #
        td 用户 
        td 填表者 
        td 类别
        td whatistime
        td Detail
    tbody
      tr
        td okok ... ok ok 
        td okokok 
        td okok ... ok ok 
        td okok ... ok ok 
        td okok ... ok ok 
        td okokok 
        td okokok 
        td okokok 
block footer
  p list records
  if records
    - for(var x=0;x<records.length;x++)
      ul
        li= records[x] 
  else
    p no item currently.
