.form-group
  label(for="idName") Admin Account(Name):
  input(type="text" name="name"  id="idName" class="form-control")
.form-group
  label(for="password") Admin Password: 
  input(type="password" name="password" class="form-control")
button.btn.btn-default(type="submit") Authenticate Now 
