extend layouts/main.pug
block content
  h1 easti site welcome you,here is index page
  h2 check socketio features.
  div#messagebox
    p now bare.
block footer
  button#trigger.btn.btn-default Trigger Commerce
  h4 all right reserved by ..
  h4 2007~2018
block pagejs
  script(src="/socket.io/socket.io.js")
  script(src="/mine/mine-branch-first-io.js")
