extend layouts/main.pug
block content
  h1 easti site welcome you,here is index page
block footer
  if auth 
    h1 #{JSON.stringify(auth)}
  if browser_desc
    h4 heades here all here - #{browser_desc}
  h4 all right reserved by ..
  h4 2007~2018
