extends layouts/main
block content
  h1 hi
block pagejs
  //- node-server running,io-server running,lookfor url:'http://localhost:3003/alpha/ioclient.pug"
  //- 
  script(src="http://127.0.0.1:8888/socket.io/socket.io.js")
  script(src="/mine/io/mine-io-connect.js")
