extend layouts/main
block content
  div 
    - for(eachone in accounts)
      .panel.panel-default
        - item = accounts[eachone]
        - 
          id = item.id
          name = item.name
          code = item.code
          timestamp = item.initial_timestamp
          password1 = item.password.slice(0,-4)
          password2 = item.password.slice(-4)
          password = password1.replace(/[\d\w]/g,'$') + password2
        .panel-heading= name + '(id=' + id  + ')'
        .panel-body
          h3= "code= " + code 
          h3= "timestamp= " + timestamp 
          h3= "password= " + password 
      
