extend layouts/main
block content
  h1 play here.maniate,travel via jQuery selector and its methods.
  div(class="grandparent") div(class="grandparent")
    div(class="parent") &nbsp;&nbsp;div(class="parent")
        div(class="child")
          |&nbsp;&nbsp;&nbsp;&nbsp;div(class="child") 
          br/
          span(class="subchild") &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;span(class="subchild") 
    div(class="surrogateParent1") &nbsp;&nbsp;div(class="surrogateParent1")
    div(class="surrogateParent2") &nbsp;&nbsp;div(class="surrogateParent2")
