extend layouts/main
block content
  div#msg
  form#firstform.form-horizontal
    .form-group
      label(class="col-xs-4") Field 1
      .col-xs-offset-1.col-xs-7
        input(type="text" name="events" placeholder="input here..") 
    .form-group
      label(class="col-xs-4") Field 2
      .col-xs-offset-1.col-xs-7
        input(type="text" name="reasons" placeholder="input here..") 
    
    .form-group
      .checkbox
        label.checkbox-inline
          input(type="checkbox" name="timeranges" value="morning")
          |morning
        label.checkbox-inline
          input(type="checkbox" name="timeranges" value="afternoon")
          | afternoon 
    .form-group
      .radio
        label(class="radio-inline")
          input(type="radio" name="suitnames" value='a')
          |  option1
        label(class="radio-inline")
          input(type="radio" name="suitnames" value='b')
          |  option2
        label(class="radio-inline")
          input(type="radio" name="suitnames" value='c')
          | option3
  form#secondform.form-horizontal
    .form-group
      label(class="col-xs-4") Field 1
      .col-xs-offset-1.col-xs-7
        input(type="text" name="events" placeholder="input here..") 
    .form-group
      label(class="col-xs-4") Field 2
      .col-xs-offset-1.col-xs-7
        input(type="text" name="reasons" placeholder="input here..") 
    
    .form-group
      .checkbox
        label.checkbox-inline
          input(type="checkbox" name="timeranges" value="morning")
          |morning
        label.checkbox-inline
          input(type="checkbox" name="timeranges" value="afternoon")
          | afternoon 
    .form-group
      .radio
        label(class="radio-inline")
          input(type="radio" name="suitnames" value='a')
          |  option1
        label(class="radio-inline")
          input(type="radio" name="suitnames" value='b')
          |  option2
        label(class="radio-inline")
          input(type="radio" name="suitnames" value='c')
          | option3

  //- commit button is not in the form.
  button#commit.btn.btn-lg.btn-default.btn-block Commit!
  h1 play here.maniate,travel via jQuery selector and its methods.
  div(class="grandparent") div(class="grandparent")
    div(class="parent") &nbsp;&nbsp;div(class="parent")
        div(class="child")
          |&nbsp;&nbsp;&nbsp;&nbsp;div(class="child") 
          br/
          span(class="subchild") &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;span(class="subchild") 
    div(class="surrogateParent1") &nbsp;&nbsp;div(class="surrogateParent1")
    div(class="surrogateParent2") &nbsp;&nbsp;div(class="surrogateParent2")

block pagejs
  script(src="/pagejs/pagejs-create-alert-box.js")
  script(src="/pagejs/pagejs-play-ver-2.js")
