extends layouts/main
block content
  div.left.hidden
    ul.nav.nav-tabs.nav-justified
      li.active 
        a(data-toggle="tab" href="#userLogin") User Login 
      li
        a(data-toggle="tab" href="#adminLogin") Admin Login 
      li
        a(data-toggle="tab" href="#superuserLogin") Super User Login 
      div.tab-content
        .tab-pane.active(id="userLogin")
          h1 User Login Content
          ul.nav.nav-pills.nav-stacked
            li
              a(href="/user/login") Go To Login Page
            li 
              // treated by pagejs - mine-play.js
              a(href="#" id="userLogout") Exit User's Account
            li.active 
              a(href="/user/daka") User DaKa
        .tab-pane(id="adminLogin")
          h1 Admin Login Content 
          p give some advices..  p give some advices..  p give some advices..  p give some advices..  p give some advices..  p give some advices..  p give some advices..  p give some advices..
          p give some advices..  p give some advices..  p give some advices..  p give some advices..  p give some advices..  p give some advices..  p give some advices..  p give some advices..
          p give some advices..  p give some advices..  p give some advices..  p give some advices..  p give some advices..  p give some advices..  p give some advices..  p give some advices..
          p give some advices..  p give some advices..  p give some advices..  p give some advices..  p give some advices..  p give some advices..  p give some advices..  p give some advices..
        .tab-pane(id="superuserLogin")
          h1 Super User Login Content 
   
          p give some advices..  p give some advices..  p give some advices..  p give some advices..  p give some advices..  p give some advices..  p give some advices..  p give some advices..
          p give some advices..  p give some advices..  p give some advices..  p give some advices..  p give some advices..  p give some advices..  p give some advices..  p give some advices..
          p give some advices..  p give some advices..  p give some advices..  p give some advices..  p give some advices..  p give some advices..  p give some advices..  p give some advices..
          p give some advices..  p give some advices..  p give some advices..  p give some advices..  p give some advices..  p give some advices..  p give some advices..  p give some advices..
  div.right
    button.btn.btn-default.btn-lg#switch
      span.glyphicon.glyphicon-menu-hamburger
    .jumbotron
      h1 Navigator Of Main App
    p right content p right content p right content p right content p right content p right content p right content p right content p right content p right content
    p right content p right content p right content p right content p right content p right content p right content p right content p right content p right content
    p right content p right content p right content p right content p right content p right content p right content p right content p right content p right content
    p right content p right content p right content p right content p right content p right content p right content p right content p right content p right content
    p right content p right content p right content p right content p right content p right content p right content p right content p right content p right content
block footer
  h2#page-width.clearfix 
block pagecss
  style.
    div.left,div.right {
      overflow:hidden;
      white-space:nowrap;
      color:#4a5a6a;
    }
    div.left{
      width:10%;
      float:left;
      background-color:white;
      z-index:10;
      overflow:hidden;
    }
    div.right{
      width:95%;
      height:700px;
      background-color:#FF9966;
      border:1px solid purple;
    }
      
block pagejs
  script(src="/mine/mine-play.js")
