extend layouts/main
block content  
  h2 button.js show
  button.btn.btn-lg.btn-default.nomagic no-magic-button
  button(class="btn btn-primary" id="id1" type="button" data-accept-text="please be patience..") Do-It 
block pagejs
  script(src="/mine/mine-button.js")
