extend layouts/main
block content
  h1 socket io is the core of business
  h1 socket io is the core of business
  h1 i am daka:user
block pagejs
  script(src="/socket.io/socket.io.js")
  script(src="/mine/mine-user-daka.js")
