.form-group
  label(for="idName") User Account(Name):
  input(type="text" name="name"  id="idName" class="form-control")
.form-group
  label(for="password") User Password: 
  input(type="password" name="password" class="form-control")
button.btn.btn-default(type="submit") Authenticate Now 
