extend layouts/main
//- route:'/user/daka'
block content
  h1 socket io is the core of business
  h1 socket io is the core of business
  h1 i am daka:user
  button#daka.btn-default.btn Daka
  div#box
    p bare initial
block pagejs
  script(src="/socket.io/socket.io.js")
  script(src="/mine/mine-user-daka.js")
