extends ../layouts/main.pug
block content
  h4 head type:4
  div(class="btn-group")
    button(type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
      |Action 
      span(class="caret")
  ul(class="dropdown-menu")
    li
       a(href="#") Action
    li
       a(href="#") Another action
    <li><a href="#">Something else here</a></li>
    <li role="separator" class="divider"></li>
    <li><a href="#">Separated link</a></li>
  </ul>
</div>
