extends ../layouts/main.pug
block pagecss
  style.
    div.content {position:relative;top:4em;}
block pagejs
  // script(src="/pagejs/neighborCar/pagejs-neighborCar-list.js")
block content
  if list
    each item in list
      h1= 'id number#' + item.id 
      ul
        each v,k in item
          li= k + ':' + v 
  else
    h1 No Any Result.
