extends ../layouts/main
block content 
  h1 all tricks list
  h1 currently item list 
  //
    from server-side ,give this view {items:XXX,length:XXXX}
    so,'items' and 'length' is available.
  -
    if(items && length && length>1){
      var firstitem = items[0];
      var restitems = items.slice(1);
      var flag = true;
    }else{
      var message="no need slice anything.";
    }
  if flag 
    h2 * total #{length} item(s).
    //- include directory from this view's view,means 
    include accordion-for-tricks.pug 
