extends ../layouts/alt
block pagejs
  script.
    var theImg = document.querySelector('#yousee');
    SVGInjector(theImg,{},function(){
      var icons = $('#yousee>defs>symbol');
      bigshow=$('.bigshow')
      for(var i=0;i<icons.length;i++){
        link='#' + $(icons[i]).attr('id');
        $span = $('<span/>');
        $span.append(link);
        $span.append('<svg viewBox="0 0 8 8" width="50" height="50"><use xlink:href="' + link + '" /></svg>');
        bigshow.append($span);
      }
    });
block pagecss
  style.
    span {
      border:2px dotted purple;
      padding:0.5em;
    }

block content
  h2 今天，2019-07-05,晚
  h2 攻克open-iconic,svg-injector 
  img(style="display:none" id="yousee" class="be-injected" alt="outer svg file" data-src="/bootstrap/open-iconic/sprite.min.svg")
  div.bigshow
