extends ../layouts/main
block pagecss
  style.
    svg {
      border:1px dotted purple;
    }
block content
  svg(id="you-know" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="550" height="500" viewBox="0 0 550 500")
    // i override at 2019-5-30
    defs
      // 二次曲线 
      path(id="erciquxian" style="fill:none;stroke:black;stroke-width:4" d="M 30,275 Q 240,30 400,120 Q 100,200 100,450") 
      // 两条相接的二次曲线。
      path(id="doublecursive" style="fill:none;stroke:blue;stroke-width:3" d="M 30,275 Q 0,15 250,200 T 440,239")
    text(x="150" y="44" style="fill:red;font-family:cursive;font-size:14pt;")
      textPath(xlink:href="#erciquxian")
        | 再也不相 信人设了 
        | go to fuck! go to fuck!
        | go to fuck! go to fuck!
        | fuck and fuck!
    use(xlink:href="#erciquxian" x="70" y="171" stroke-dasharray="5 2 2 1")
    use(xlink:href="#doublecursive" x="70" y="171")
block pagejs
  script(src="/vivus/vivus.min.js")
  script.
    /*
    window.onload = function(e){
      new Vivus('you-know',{start:'autostart',duration:450},function(evt){
        //alert('done.');
        var thetext =  document.getElementById('know-you');
        thetext.textContent = 'you know you!';
      });
    };
    */
