extends ../layouts/main
block pagecss
  style.
    canvas.class1 {
      border:4px solid purple;
    }
    canvas.class2 {
      
      border:2px solid navy;
    }
block content
  h1 Canvas Lesson 1
  canvas(id="myCanvas" width="250" class="class1" height="255")
  
  p continue!
  div(id="drawing")
  canvas(width="250" class="class2 clearfix" height="255")
  footer
    h2 the end line.
block pagejs
  script(src="/svgjs/dist/svg.min.js")
  script(src="/pagejs/pagejs-canvas-1.js")
