extends ../layouts/main
block content
  button#idot(class="btn btn-default") dodo
  button#zheng(class="btn btn-primary") Zheng Shi
  h1 svg lesson - Path
  embed(id="you-svg" width="88%" src="/images/multi-little-buttercup.svg") 
