extends ../layouts/main
block content
  button#idot(class="btn btn-default") dodo
  button#zheng(class="btn btn-primary") Zheng Shi
  h1 svg lesson - Path
  embed(id="you-svg" width="88%" src="/images/little-buttercup.svg") 
  
  h2 continue
block pagejs
  script.
    window.addEventListener('load',function(){
    var doc = document.getElementById('you-svg').getSVGDocument();
    var path = doc.getElementById('yes-sir');
    alert(path.getAttribute('stroke')); 
    path.setAttribute('fill','yellow');
    },false);
