extends ../layouts/alt.pug
block pagecss
  style.
    span {
      display:block;
      border:2px solid purple;
    }
block pagejs
  script(src="/pagejs/pagejs-list-all-icons.js")
block content
  h1.display-3 All Icons <small> 233 </small> Of Open-Iconic Library
  div(class="d-none" id="gaogao" data-src="/bootstrap/open-iconic/sprite.min.svg")
  div#display(class="container-fluid")
    // initial bare. 
block footer
  p all right reserved deyijjia@2019
