extends ../layouts/main
block content
  div#id3.container
    embed(class="center-block" width="100%" src="/images/manwomanandhouse.svg" type="image/svg+xml" title="House Library" alt="it is a svg pic.") 
    
  
