extends ../layouts/main
block pagecss
  style.
    .svg {border:1px solid purple;}
block content
  img(src="/images/cat.svg" alt="a sticky cat pic")
  div.svg
    p you dian xu yi yang de dong xi!
    svg(viewBox="0 0 200 200" width="200px" height="200px" xmlns='http://www.w3.org/2000/svg') 
      g(id="square1")
        rect(x="10" y="10" width="20" height="20" style="fill:none;stroke:black;" )
      <!-- always rember that - DON NOT give ';' symbol to transform attribution ,it is failure many times! -->
      use(xlink:href="#square1" transform="scale(2)")
      use(xlink:href="#square1" transform="translate(100,100) scale(1.5,1)")
