extends ../layouts/alt
block pagecss
  style.
    .oi-cloud-upload {
      fill:red;
    }
    .oi-account-login {
      fill:yellow;
    }
    .oi-cloud-upload,.oi-account-login {
      border:1px solid black;
    }
block content
  div.container-fluid
    dl
      dt  include &lt;img&gt; tag,give a classname for later injecting 
      dd  give an attribute:class="d-none" can remove &lt;img&gt; from work flow 
    img(class="mine-image d-none" alt="no play" src="/bootstrap/open-iconic/sprite.min.svg")
    
  div.container-fluid
    dl
      dt  use &lt;svg&gt; tag show icon
      dd  the attribute:"xlink:href" refers shape 
    svg(viewBox="0 0 460 200" width="550" xmlns="http://www.w3.org/2000/svg" class="border" xmlns:xlink="http://www.w3.org/1999/xlink")
      use(xlink:href="#cloud-upload" class="oi-cloud-upload" transform="translate(-100,0)") 
      use(xlink:href="#account-login" class="oi-account-login" transform="translate(109,0)") 
      text(x='10' y="100") icon:account-login
      text(x="260" y="100") icon:cloud-upload
block footer 
  // at html codes last level,give a &lt;script&gt; tag make injecting
  script.
    var injector = document.querySelectorAll('.mine-image');
    SVGInjector(injector);
