extends ../layouts/main
block pagejs
  script.
    window.addEventListener('load',function(){
      // say something
      var finish_l1 = window.document.getElementById('l1');
      var finish_l2 = window.document.getElementById('l2');
      var finish_l3 = window.document.getElementById('l3');
      var finish_l4 = window.document.getElementById('l4');
      var doc = window.document.getElementById('svgbox').getSVGDocument();
      var fucking = doc.getElementById('fucking');
      var fucking_animate = fucking.getElementsByTagName('animate')[0];
      finish_l1.addEventListener('click',function(e){
        fucking_animate.setAttribute('to','-110'); 
        console.log(fucking.getBBox()); 
      });
      finish_l2.addEventListener('click',function(e){
        fucking_animate.setAttribute('to','-70'); 
        console.log(fucking.getBBox()); 
      });
      
    });
block pagecss
  style.
    object {border:1px dotted purple;}
block content
  object(type="image/svg+xml" data="/images/nidong.svg" width="90%" id="svgbox")
    p fallback here.

  div(class="container")
    .row
      div.col-sm-6.col-sm-offset-2.btn-group-vertical.btn-group-lg
        button#l1.btn.btn-default finish-L1
        button#l2.btn.btn-default finish-L2
        button#l3.btn.btn-default finish-L3
        button#l4.btn.btn-default finish-L4
block footer
  div.center-block
    p All Right Reserved By D-Y-J @2019
  // buttons
