extends ../layouts/alt
block pagecss
  style.
    .oi-cloud-upload {
      fill:red;
    }
    .col {
      border:1px solid black;
    }
block content
  div.container-fluid
    h1 div.container-fluid  is flexible width,responsiblity content
    p a great de story,old desteuct (Germany)
    p it is specially
    img(class="mine-image" alt="no play" src="/bootstrap/open-iconic/sprite.min.svg")
    
  div.container-fluid
    h1 div.container-fluid display new icon from img tag. 
    svg(id="svg2" viewBox="0 0 8 8" width="55" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
      //- currently bare
      use(id="yousee" transform="translate(0,0)")

block footer 
  script.
    var injector = document.querySelectorAll('.mine-image');
    SVGInjector(injector);
