extends ../layouts/alt
block pagejs
  script.
    var theImg = document.querySelector('#yousee');
    SVGInjector(theImg,{},function(count){
       console.log('injected ' + count + ' !');  
    });
block pagecss
  style.
    svg {
      border:2px dotted purple;
      padding:0.5em;
    }

block footer 
  h2 open-iconic svg sprite way 
  img(style="display:none" id="yousee" class="be-injected" alt="outer svg file" data-src="/bootstrap/open-iconic/sprite.min.svg")
  .show 
    svg(viewBox="0 0 44 24" width="550" height="250" id="chevron-icon1")
      use(transform="translate(-2.8,0)" xlink:href="#chevron-top") 
      text(x="33" y="14" style="font-size:2.4") chevron-top
    svg(viewBox="0 0 44 24" width="550" height="250" id="chevron-icon2")
      use(transform="translate(-1.8,0)" style="fill:red" xlink:href="#chevron-right") 
      use(transform="translate(20,0)" style="fill:yellow" xlink:href="#chevron-left") 
      
