extends ../layouts/main
block content
  h1 Display SVG
  ol
    - for(var i=0;i<5;i++) 
      li 
        a(href="#" alt="link..") link to target
          //- embed(src="/images/1.svg" type="image/svg+xml")
          svg(version="1.1" xmlns="http://www.w3.org/2000/svg")
            circle(r="50" cx="50" cy="50" fill="lime")
  h2 converse di ka er 2 canvas coordination.
  img(src="/images/curve1.svg" alt="di ka er oringal curvse.")
