extend ../layouts/main
block content
  div(class="grandparent") 
    | the most out level:div.grandparent 
    div(class="parent")
      | &nbsp;&nbsp; level:div.parent
      div(class="child")
        | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; div.child
        span(class="subchild") &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; span.subchild
    div(class="surrogateParent1") &nbsp;&nbsp; div.surrogateParent1
    div(class="surrogateParent2") &nbsp;&nbsp; div.surrogateParent2
