extends ../layouts/main
block pagecss
  style.
    div {
      background-color:red;
    }
    #box3 {
      background-color:lime;
      transform:rotate(-15deg);
      -webkit-transform:rotate(-15);
    }
    #box2 {
      transform:rotate(15deg);
      -webkit-transform:rotate(15deg);
    }
    .svg {background-color:white;}
block content
  div#normal
    p hi normal div box
  
  div#normal
    p hi normal div box
  div#normal
    p hi normal div box
  div#box2
    h1 Box2 
  div#box3
    h1 Box 3 
  div.svg
    p you dian dong xi!
    svg(viewBox="0 0 200 200" width="200px" height="200px" xmlns='http://www.w3.org/2000/svg' version="1.1")
      g(id="square")
        rect(x="10" y="10" width="20" height="20" style="fill:none;stroke:black;" )
      use(xlink:href="#square" transform="scale(2)")
