extend ../layouts/main
block content
  span.border
    | yes
  span.border.border-success.rounded.bg-info
    | no 
  div.container-fluid
    .row
      img(class="border border-dark" src="/images/image400x400.svg")
    .row
      .col-sm
        img(class="img-fluid rounded-circle img-thumbnail" src="/images/image400x400.svg")
      .col-sm
        img(class="img-fluid img-thumbnail" src="/images/image400x400.svg")
      .col-sm
        img(class="img-fluid rounded" src="/images/image400x400.svg")
      .col-sm
        img(class="img-fluid rounded-circle" src="/images/image400x400.svg")
      .col-sm
        img(class="img-fluid rounded-0" src="/images/image400x400.svg")
      .col-sm
        img(class="img-fluid rounded" src="/images/image400x400.svg")

