extend ../layouts/main
block content
  .container-fluid
    .row
      img.border.col-md-6.img-fluid(src="/images/box698x250.svg")
      .col-md-3.border.d-flex.align-items-center.justify-content-center
        p.d-inline-block  place holder
      .col-md-3.border
        p.d-inline-block.bg-success place holder
  details
    summary title of this content
    p detail of content.detail.ko <span class="badge badge-secondary"> new</span>
    p detail of content.detail.
    p detail of content.detail.
  span.border
    | yes
  span.border.border-success.rounded.bg-info
    | no 
  div.container-fluid
    .row
      img(class="border border-dark" src="/images/image400x400.svg")
    .row
      .col-sm
        img(class="img-fluid rounded-circle img-thumbnail" src="/images/image400x400.svg")
      .col-sm
        img(class="img-fluid img-thumbnail" src="/images/image400x400.svg")
      .col-sm
        img(class="img-fluid rounded" src="/images/image400x400.svg")
      .col-sm
        img(class="img-fluid rounded-circle" src="/images/image400x400.svg")
      .col-sm
        img(class="img-fluid rounded-0" src="/images/image400x400.svg")
      .col-sm
        img(class="img-fluid rounded" src="/images/image400x400.svg")

