extend ../layouts/main
block content
  button(class="mb-sm-5 mr-sm-5 btn btn-outline-dark") Dark
  button(class="mb-sm-5 btn btn-outline-secondary") Secondary
  p.d-table-cell.p-md-4 anywhere 
  p.d-table-cell.p-md-4 anyway
  div
    blockquote.blockquote
      p.mb-0 span.border span.border p.mb-o span.border span.border p.mb-o span.border span.border p.mb-o span.border span.border
      footer.blockquote-footer someone famous in<a class="alert-link" href="#a"> <cite title="cite title">cite source</cite></a>
    .btn-group
       button.btn.btn-secondary left
       button.btn.btn-secondary middle
       button.btn.btn-secondary right
    p blockquote.blockquote p.mb-o span.border span.border p.mb-o span.border span.border p.mb-o span.border span.border p.mb-o span.border span.border
    p blockquote.blockquote p.mb-o span.border span.border p.mb-o span.border span.border p.mb-o span.border span.border p.mb-o span.border span.border
    p blockquote.blockquote p.mb-o span.border span.border p.mb-o span.border span.border p.mb-o span.border span.border p.mb-o span.border span.border

   
