extends ../layouts/main
block pagecss
block content
  button.btn.btn-dark(data-toggle='collapse' data-target='#coll1') spand
  div(id="coll1",class="collapse")
    .card.card-body
      |Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
  div.container
    p
      button(class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample") Button with data-target
    div(class="collapse" id="collapseExample")
      div(class="card card-body")
        |Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
  hr/
  p
    button(class="btn btn-primary" data-toggle="collapse" data-target="#link1") spand link 1 
    button(class="btn btn-primary" data-toggle="collapse" data-target="#link2") spand link2 
    button(class="btn btn-primary" data-toggle="collapse" data-target=".welink") both link1 and link2 
  .container
    .row
      .col-md-4
        div.collapse.welink.mt-4#link1 
          .card.card-body
            | div.collapse.welink#link1 div.collapse#link1 div.collapse#link1 div.collapse#link1 div.collapse#link1 div.collapse#link1 div.collapse#link1 div.collapse#link1 
      .col-md-6
        div.collapse.welink#link2 
          .card.card-body
            |div.collapse#link2 |div.collapse#link2 |div.collapse#link2  div.collapse#link1 div.collapse#link1 div.collapse#link1 div.collapse#link1 div.collapse#link1 div.collapse#link1 div.collapse#link1 div.collapse#link1 
