extends ../layouts/main
block pagecss
block content
   
  nav.navbar.bg-light.navbar-light.navbar-expand-md
    img.navbar-brand(src="/images/bn.png" alt="bootstrap button")
    button(class="btn btn-primary navbar-toggler" data-toggle="collapse" data-target="#bbb")
      span(class="oi oi-menu")
    div.collapse.navbar-collapse#bbb
      ul.navbar-nav.mr-auto
        li.nav-item.active
          a.nav-link(href="#") Home
        li.nav-item
          a.nav-link(href="#") Link
        li.nav-item
          a.nav-link(href="#") Dropdown 
        li.nav-item
          a.nav-link.disabled(href="#") disabled item 
    
