extends ../layouts/main
block pagecss
  style.
    .oi-cloud-upload {
      fill:red;
    }
block content
  div.container-fluid
    p a great de story,old desteuct (Germany)
    span
      span(class="oi oi-align-center")
      span(class="oi oi-cloudy")
      span(class="oi oi-cloud-upload")
      span(class="oi oi-account-logout")
      span(class="oi oi-cloud-download")
      p it is specially
    p a great de story,old desteuct (Germany)
    p a great de story,old desteuct (Germany)
    p a great de story,old desteuct (Germany)
