extends ../layouts/main
block pagecss
  style.
    .col {
      border:1px solid black;
      margin-bottom:3rem;
    }
block content
  div.container
    .row
      .col-sm-2 2 units width
      .col-sm-10 10 units width
    .row
      .col style is '.col'
      .col style is '.col'
      .col style is '.col'
      .col style is '.col'
  div.container-fluid
    h1 div.container-fluid  is flexible width,responsiblity content
    p a great de story,old desteuct (Germany)
    span
      span(class="oi oi-cloud-upload")
      p it is specially
    p (1)a great de story,old desteuct (Germany)
    p(hidden='') (2)a great de story,old desteuct (Germany)
    h1.display-3 Display-3
    h1 No Display H1
    h2.display-4 Display-4 <small class="muted"> muted text paragraph</small>
    p.muted muted text paragrph.
    p no muted text paragrph.
    p (1)a great de story,old desteuct (Germany)
    p (2)a great de story,old desteuct (Germany)
    p#thirdone.invisible (3)a great de story,old desteuct (Germany)
    form
      input(type="date")
