extends ../layouts/main
block pagecss
  style.
    .oi.oi-account-login {color:red;}
    span.oi {
      font-size:3rem;
    }
block content
  div.container
    table.table.table-dark
      thead
        tr
          th(scope="col") serious
          th(scope="col") alias
          th(scope="col") own name
          th(scope="col") family name
      tbody
        tr
          th(scope="row") 1
          td small paris
          td David	
          td Flannagan 
        tr
          th(scope="row") 2 
          td small HongKong 
          td Qian 
          td SanYi 
        tr
          th(scope="row") 3 
          td yingying 
          td liao 
          td mum 
 
    
  div.container
    .row
      .col-sm-2 2 units width
      .col-sm-10 10 units width
    .row
      .col style is '.col'
      .col style is '.col'
      .col style is '.col'
      .col style is '.col'
  div.container-fluid
    h1 show icons about class.oi(open-icons)
    p a great de story,old desteuct (Germany)
    span
      p oi-align-center
      span(class="oi oi-align-center")
      p oi-cloudy
      span(class="oi oi-cloudy")
      p oi-account-login
      span(class="oi oi-account-login") 
      p ...
    figure.figure
      img(class="figure-img img-fluid rounded" src="/images/png400x400.png")
      figcaption.figure-caption a great de story,old desteuct (Germany)
    p a great de story,old desteuct (Germany)
    p a great de story,old desteuct (Germany)
    p a great de story,old desteuct (Germany)
