extends ../layouts/main
block pagecss
  style.
    .oi-cloud-upload {
      fill:red;
    }
    .col {
      border:1px solid black;
    }
block content
  div.container
    .row
      .col-sm-2 2 units width
      .col-sm-10 10 units width
    .row
      .col style is '.col'
      .col style is '.col'
      .col style is '.col'
      .col style is '.col'
  div.container-fluid
    h1 div.container-fluid  is flexible width,responsiblity content
    p a great de story,old desteuct (Germany)
    span
      span(class="oi oi-align-center")
      span(class="oi oi-cloudy")
      span(class="oi oi-cloud-upload")
      span(class="oi oi-account-logout")
      span(class="oi oi-cloud-download")
      p it is specially
    span.big-icon
      img
    p a great de story,old desteuct (Germany)
    p a great de story,old desteuct (Germany)
    p a great de story,old desteuct (Germany)
