extends ../layouts/main
block content
  object(id="you-know-already" data="/images/gray-memory.svg" width="95%" height="300")
    p fallback of this object tag.
block pagejs
  script(src="/vivus/vivus.min.js")
  p -------
  button(class="btn btn-default" id="onebyone") one-by-one-replay
  button(class="btn btn-default" id="sync") sync-replay
  button(class="btn btn-default" id="delayed") delayed-replay
  script.
    var onlyVivus = new Vivus('you-know-already',{type:'sync',duration:400},function(e){
      onlyVivus.reset().play(1);
    });
    var $onebyone = $('button#onebyone');
    $onebyone.on('click',function(e){
       onlyVivus.destroy();
       onlyVivus = new Vivus('you-know-already',{type:'oneByOne',duration:300},function(){alert('onebyone done');}); 
    }); 
    $sync = $('button#sync');
    $sync.on('click',function(e){
       onlyVivus.destroy();
       onlyVivus = new Vivus('you-know-already',{type:'sync',duration:300},function(){alert('sync done');}); 
    }); 
    $delayed = $('button#delayed');
    $delayed.on('click',function(e){
       onlyVivus.destroy();
       onlyVivus = new Vivus('you-know-already',{type:'delayed',duration:300},function(){alert('delayed done');}); 
    }); 
